<!-- <h1>This is the home page!! </h1>



<form action="signup" method="post" id="signup_form">
	<button type="submit" form="signup_form" value="Submit" id="signup_button">Sign Up</button>
</form>
<form action="login" method="post" id="login_form">
	<button type="submit" form="login_form" value="Submit" id="login_button">Log In</button>

</form>

 -->

  <div class="main-container">
    <div class="homepage-container">
      <div id="alertDiv">
        
      </div>
      <!-- <div class="logo">Todo List</div> -->
      <p class="homepage-about">Todo List</p>
     
      {{#if errors}}
      <div id="alertDiv">
        <div class="alert alert-warning validation-error "style="color: red">
        		{{errors}}
        </div>
      </div>
      {{/if}}

      {{#if currentUser}}
      <div>
        <p> Welcome, <b>{{currentUser.name}}</b></p><br>
      </div>
      {{/if}}

      {{#if currentUser}}
      <div>
        {{#if task}}
          <ul>
          {{#each task}}
              {{#if this.isComplete}}
                <div class="tasks-list-item complete-task">
                <li ><a href="/task/complete?id={{this._id}}"><button class="toggle-task" type="button">Done!</button></a>  
                <span class="task-title"><strike>{{this.title}} </strike> </span>
                {{else}}
                <div class="tasks-list-item">
                <li ><a href="/task/complete?id={{this._id}}"><button class="toggle-task" type="button">Done!</button></a>
                
                <span class="task-title">{{this.title}}</span>
                {{/if}}
              {{#if this.mine}}
                <a  href="/task/remove?id={{this._id}}"><button class="delete-task" type="button">Delete!</button></a>
              {{/if}}
            </li>
          </div>
          {{/each}}
        </ul>
        {{else}}
          No task to show.
        {{/if}}     
        
        <h4>Add a new task</h4>
        <form id="create" action="/task/create"  method="POST">
          <label for="title">Title</label>
          <input name="title" id="title" type="text"><br>
          <label for="description">Description</label>
          <input name="description" id="description" type="text"><br>
          Collaborators<br>
          <input name="collaborator1" id="collaborator1" type="email"><br>
          <input name="collaborator2" id="collaborator2" type="email"><br>
          <input name="collaborator3" id="collaborator3" type="email"><br>
          <button type="submit" form="create" value="Submit">Submit</button>
        </form>
      </div>
      {{else}}
      <button class="login blue">Log In</button>
      <button class="signup blue">Sign Up</button>
    </div>
    <form action="/user/login" method="post" id="login_form" >
      <input name="email"  type="email" class="text-input" placeholder="email">
      <input name="password" type="password" class="text-input" placeholder="password">
      <button class="blue log-in-submit" form="login_form">Log In</button>
    </form>
    <form action="/user/register" method="post" id="register_form">
      <input name="fl_name" type="text" class="text-input" placeholder="first &amp; last name">
      <input name="email" type="email" class="text-input" placeholder="email">
      <input name="password" type="password" class="text-input" placeholder="password">
      <input name="password_confirmation" type="password" class="text-input" placeholder="password confirmation">
      <div>
        <button class="blue sign-up-submit" form="register_form">Sign Up</button>
      </div>
    </form>
    {{/if}}
  </div>
  <script>
    $('.homepage-container .signup').on('mousedown', function(){
      $('.homepage-container').addClass('with-form');
      $('.homepage-container .login').removeClass('pressed');
      $(this).addClass('pressed');
      $('.signup-form').fadeIn(0, function(){
        $(this).removeClass('hidden');
      });
      $('.login-form').fadeOut(0, function(){
        $(this).addClass('hidden');
      });
    })
    $('.homepage-container .login').on('mousedown', function(){
      $('.homepage-container').addClass('with-form');
      $('.homepage-container .signup').removeClass('pressed');
      $(this).addClass('pressed');
      $('.login-form').fadeIn(0, function(){
        $(this).removeClass('hidden');
      });
      $('.signup-form').fadeOut(0, function(){
        $(this).addClass('hidden');
      });
    })

  </script>
